span.field-validation-error {
    color: red;
    font-size: 12px;
}

input.input-validation-error {
    border: 1px solid red;
    color: gray;
}

input[type=checkbox].input-validation-error {
    outline: 1px solid red;
}

.validation-summary-errors {
    color: red;
}

.appHeader {
    width: 100%;
    padding: 30px;
    line-height: 20px;
}

.appNameContainer {
    text-align: center;
    width: auto;
    margin: auto;
}

.appName {
    text-align: center;
    font-weight: bold;
    width: auto;
    margin: auto;
}

.diveParams {
    margin-top: 20px;
    width: 785px;
    border: 1px solid #BBCCCC;
    border-radius: 5px;
    padding: 4px 10px 10px 10px;
    margin: auto;
}

.diveParams .mainTable {
    width: 100%;
}

.diveParams .mainTable td {
    vertical-align: top;
    padding: 5px;
}

.diveParams .blockLabel {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    color: #808080;
}

.diveParams .levels, .diveParams .decoLevels {
    width: 370px;
    border: 1px solid #BBCCCC;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 8px;
    padding-top: 3px;
    margin-bottom: 5px;
}

.diveParams .levels .label, .diveParams .decoLevels .label {
    padding: 0px;
    margin: 0px;
    line-height: 18px;
    color: #808080;
}

.diveParams .levelsTable {
    margin-top: 6px;
    width: 100%;
    border: 1px solid gray;
}

.diveParams .levelsTable .header {
    border: 1px solid #a5a5a5;
    border-collapse: collapse;
    border-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 20px;
}

.diveParams .levelsTable thead {
    background-color: #f3f3f3;
    background-image: linear-gradient(to bottom, #f3f3f3, #c6c6c6);
}

.diveParams .levelsTable .body td {
    border: 1px solid #a5a5a5;
    border-collapse: collapse;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 20px;
    vertical-align: top;
}

.diveParams .levelsTable input[type=text] {
    width: 40px;
}

.diveParams .levelsTable input[type=checkbox] {
    margin-top: 6px;
}

#DiveParamsContainer label {
    padding: 0px;
    margin: 0px;
    color: #808080;
    line-height: 23px;
}

.diveParams .otherParams {
    line-height: 15px;
}

.buttonsPanel {
    margin-top: 10px;
    padding-top: 12px;
    border-top: 1px solid #BBCCCC;
}

input.text-box {
    padding: 0px 5px 0px 5px;
    margin: 0px;
    height: 25px;
    width: 200px;
}

input.textBoxShort
{
    width: 60px !important;
}

select.dropdown {
    padding: 0px 5px 0px 5px;
    margin: 0px;
    height: 25px;
    width: 200px;
}

table.result-table {
    width: 1024px;
    margin: auto;
    margin-top: 15px;
}

table.result-table thead {
    background-color: #f3f3f3;
    background-image: linear-gradient(to bottom, #f3f3f3, #c6c6c6);
}

table.result-table tbody td span {
    color: #808080;
}

table.result-table thead td {
    border: 1px solid #a5a5a5;
    border-collapse: collapse;
    border-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 20px;
    padding: 3px 5px 3px 5px;
}

table.result-table tbody td {
    border: 1px solid #a5a5a5;
    border-collapse: collapse;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

table.result-table tbody td.warning {
    background-color: #fffbb4;
}

table.result-table tbody td.dangerous {
    background-color: #ffebeb;
}

table.result-table tbody td.important {
    font-weight: bold;
}

#OutputCanvas {
    margin-top: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}

#SubmitDiveParams {
    width: 100px;
}

#SaveDive {
    width: 100px;
}

#GraphSwitch {
    height: 24px;
    font-size: 14px;
}