@using MDivePlannerWeb.Models
@model AppModel

<div class="appRoot">
    <div class="appHeader">
        <div class="appNameContainer">
            <div class="appName">MDivePlanner</div>
            <div>Dive planner that implementes Bühlmann deco algorythm (ZHL-16a,b,c) with Gradient Factors</div>
        </div>
    </div>
    <div class="diveParams">
        <div class="blockLabel">
            <span>Dive Parameters</span>&nbsp;
            <span style="font-size: 12px">(depth - metters, time - minutes, volume - litters)</span>
        </div>
        <div>
            <form id="SubmitDiveParamsForm" asp-controller="App" asp-action="SetParams" method="post">
                <div id="DiveParamsContainer">
                    <partial name="DiveParams" model="Model.DiveParamsModel" />
                </div>
                <div class="buttonsPanel">
                    <div class="floatLeft">
                        <button id="SubmitDiveParams" class="button" type="button">Calculate</button>
                    </div>
                    <div class="floatRight" style="text-align: right">
                        <select id="SavedDives">
                            <option value="new-dive" selected="selected">New Dive</option>
                        </select>
                        <button id="SaveDive" class="button" type="button">Save Dive</button>
                        <button id="ResetDives" class="button" type="button">Reset Dives</button>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
    <div style="text-align: center;">
        <table class="result-table table1">
            <thead>
                <tr>
                    <td style="min-width: 360px">Dive Info</td>
                    <td>With Deco</td>
                    <td>Max ppO2</td>
                    <td>Consumed Gases</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <table class="result-table table2">
            <thead>
                <tr>
                    <td>CNS</td>
                    <td>END</td>
                    <td>No Deco Time</td>
                    <td>Ascent Time</td>
                    <td>Full Desaturation</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <button id="GraphSwitch" style="position: absolute; top: -50px;">Gases</button>
        <canvas id="OutputCanvas" width="1024" height="768"></canvas>
    </div>
</div>
